<settings>
    <version>0.1</version>
    <path>D:\cfg-switcher\cfg-switcher</path>
    <games>
        <game>
            <id>test</id>
            <path>C:\Users\unkno\Desktop</path>
        </game>
        <game>
            <id>GTA V</id>
            <path>C:\Users\unkno\Documents\Rockstar Games\GTA V</path>
        </game>
        <game>
            <id>a</id>
            <path>C:\Users\unkno\Desktop</path>
        </game>
    </games>
</settings>
